.header{


    border:solid;
    text-align: center; 

}
#first{
    top:10px;
    left:10px;
    height:150px;
    width:550px;
    background-color:grey;
}
#second{
    top:310px;
    left:10px;
    height:300px;
    width:550px;
    background-color:wheat;
}
#third{
    top:610px;
    left:10px;
    height:300px;
    width:550px;
    background-color:thistle;
}
body{
    background-color:yellowgreen;
}